<!DOCTYPE html>
<html>
    <head>
        <title>Mission to Mars</title>

        <!-- Links to stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-3" style="text-align:center">Mission to Mars</h1>
                <p class="lead" style="text-align:center;">
                    <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-header">{{results.nasa.title}}</div>
                        <div class="card-body">
                            <p class="card-text">{{results.nasa.teaser}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                <!--Featured Image-->
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-header">Featured Mars Image</div>
                        <div class="card-body">
                            <img scr="{{results.featured_image}}" alt='featured_image.jpg'/>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-header">Current Weather on Mars</div>
                        <div class="card-body">
                            <p class="card-text">{{results.mars_weather}}</p>
                        </div>
                    </div>
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-header">Mars Facts</div>
                        <div class="card-body">
                            <table class="table table-hover table-active">{{results.facts_table | safe}}</table>
                        </div>
                    </div>
                </div>
            </div>
            <h2 style="text-align:center">Mars Hemispheres</h2>
            <div class="row">
                {% for h in results.hemispheres%}
                    <div class="col-6">
                        <div class="card text-white bg-secondary mb-3">
                            <div class="card-header">{{h.title}}</div>
                            <div class="card-body">
                                <img src="{{h.img_url}}" alt={{h.title}} style= "width: 200px;">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>